{% extends "base.html" %}
{% load i18n %}

{%block main%}

<div class="column_top" style="background-color:#143174;">
    <div class="container">
        <div class="col-md-12 text-left">
            <span style="color:#ffffff;">
                <h2>{% trans "管理ログ一覧" %}</h2>
            </span>
        </div>
    </div>
</div>

{% for obj in objects reversed  %}
    <ul>
        {{ obj.name }}<br>
    </ul>

    <div class="container">
        <div class="col-md-12">
            <h6>
                {% for line in obj.log_field %}
                    {{ line | linebreaksbr}}<br>
                {% endfor %}
            </h6>
        </div>
    </div>
{% endfor %}
{% endblock %}

