{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block main %}
<div class="column_top" style="background-color:#143174;">
    <div class="container">
        <div class="col-md-12 text-left">
            <span style="color:#ffffff;">
            <h2>{% trans "TA管理画面:非公開コンペティション参加管理" %}</h2>
            </span>
        </div> 
    </div>
</div>

<div class="column">
    <div class="container">
        <ul>
            {% trans "非公開/参加制限コンペティション参加可否" %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>{% trans "コンペティション名" %}</td>
                            {% for obj in competition_box %}
                            <td>
                                {{obj.title}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>{% trans "条件" %}</td>
                            {% for obj in competition_box %}
                            <td>
                                {% if obj.public %}
                                {% trans "公　開"%}
                                {% else %}
                                {% trans "非公開"%}
                                {% endif %}
                                {% trans " / "%}
                                {% if obj.invitation_only %}
                                {% trans "参加制限あり"%}
                                {% else %}
                                {% trans "参加制限なし"%}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>



                        {% for obj_dict in mix_box %}
                        <tr>
                            <td>
                                {{obj_dict.team.name}}
                            </td>
                            {% for obj in competition_box %}
                                <td>
                                    {% if obj.id in obj_dict.mix_box %}
                                        <input type="checkbox" id={{obj_dict.team.pk}} name={{obj_dict.team.pk}} value={{ obj.pk }} checked>
                                        {% trans "参加"%}
                                    {% else %}
                                        <input type="checkbox" id={{obj_dict.team.pk}} name={{obj_dict.team.pk}} value={{ obj.pk }}>
                                        {% trans "不可"%}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value={% trans "承認" %}>
            </div>
        </form>
    </div>
</div>




{% endblock %}
