{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block main %}
<div class="column_top" style="background-color:#143174;">
    <div class="container">
        <div class="col-md-12 text-left">
            <span style="color:#ffffff;">
            <h2>{% trans "TA管理画面:参加者登録" %}</h2>
            </span>
        </div>
    </div>
</div>

<div class="column">
    <div class="container">
        <div class="col-md-12">
            <ul>
                {% trans "ユーザー管理フォーム" %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="col-md-3">{% trans "nickname" %}</td>
                            <td class="col-md-3">{% trans "username" %}</td>
                            <td class="col-md-3">{% trans "email" %}</td>
                            <td class="col-md-3">{% trans "参加認証" %}</td>
                        </tr>
                        {% for obj in user_box %}
                        <tr>
                            <td>{{obj.nickname}}</td>
                            <td>{{obj.username}}</td>
                            <td>{{obj.email}}</td>
                            <td>
                                {% if obj.is_participant  %}
                                    <input type="checkbox" id="is_participant" name="is_participant" value={{ obj.pk }} checked>
                                {% else %}
                                    <input type="checkbox" id="is_participant" name="is_participant" value={{ obj.pk }} >
                                {% endif %}
                                {{obj.is_participant}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value={% trans "承認" %}>
            </form>
        </div>
    </div>
</div>
{% endblock %}
