{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block main %}
<div class="column_top" style="background-color:#143174;">
    <div class="container">
        <div class="col-md-12 text-left">
            <span style="color:#ffffff;">
            <h2>{% trans "登録情報編集" %}</h2>
            </span>
        </div> 
    </div>
</div>
<ul>
    {% trans "登録情報の編集を行えます。" %}<br>
</ul>
              
<div class="container">
    <div class="col-md-12">
        <form action="{% url 'profileedit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class='btn btn-outline-success btn-block' type="submit">{% trans "編集" %}</button><button class='btn btn-outline-success btn-block' type="submit">{% trans "変更なし" %}</button>
	</form>
    </div>
</div>


{% endblock %}
