{% extends "discussion_base.html" %}
{% load i18n %}

{%block main%}

<!--main field---> 
<div class="column_top" style="background-color:#143174;">
  <div class="container">
      <div class="col-md-12 text-left">
          <h2>
          <span style="color:#ffffff;">
            <a class="btn navbar-btn  mlm navbar-right" type="button" href="{% url 'Discussion:discussion_competition' competition.pk %}" style="color:#ff4500;">{{competition.title}} : </a>{% trans  discussion.title_disc %}
          </span></h2>
      </div> 
  </div>
</div>
<!--main field end---> 
<div class="column">
  <div class="container">
      <!--投稿情報-->
      <div class="col-md-12">
          <table class="table table-borderless">
              <tbody>
                  <tr>
                      <th class="col-md-3">{% trans "タイトル" %}</th>
                      <td class="col-md-2">{% trans "投稿者" %}</td>
                      <td class="col-md-2">{% trans "所属チーム" %}</td>
                      <td class="col-md-3">{% trans "投稿日時" %}</td>
                      <td class="col-md-2">{% trans "返答件数" %}</td>
                  </tr>
                  <tr>
                      <td>
                          {{discussion.title_disc}}
                      </td>
                      <td>{{user_nickname}}</td>
                      <td>{{team_name}}</td>
                      <td>{{discussion.added_datetime_disc}}</td>
                      <td>{{post_count}} {% trans "件" %}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <!--内容-->
      <div class="col-md-12">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-md-3" style="border-top: none; border-right: none;"></td>
              <td class="col-md-9">{% trans "内容" %} : </td>
            </tr>
            <tr>
              <td></td>
              <td>{{discussion.comment_field_disc | linebreaksbr}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--コメント-->
      {% for obj in obj_list %}
        <div class="col-md-12">
          <table class="table table-borderless ">
            <tbody>
                <tr>
                    <td class="col-md-3"></td>
                    <td class="col-md-3">{% trans "投稿者" %}</td>
                    <td class="col-md-3">{% trans "所属チーム" %}</td>
                    <td class="col-md-3">{% trans "投稿日時" %}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{obj.user_nickname}}</td>
                    <td>{{obj.team_name}}</td>
                    <td>{{obj.post_time}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3" class="table-active">
                    {{obj.comment_field| linebreaksbr}}
                  </td>
                </tr>
            </tbody>
          </table> 
        </div>
      {% endfor %}
      <!--コメント内容-->
  </div>
</div>

<div class="column">
  <div class="container">
      <h4>{% trans "コメント投稿フォーム" %}</h4><hr width="50%">
      <div class="col-md-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless">
                <tbody>
                    <tr>
                      <th class="col-md-3"></th>
                      <th class="col-md-3">{% trans "投稿チーム" %}</th>
                      <th class="col-md-3">{% trans "投稿者" %}</th>
                      <td class="col-md-3">{% trans "投稿先" %}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{user.selectedTeam.name}}</td>
                      <td>{{user.nickname}}</td>
                      <td>{{competition.title}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td colspan="3">
                      <textarea name="comment_field_post" cols=100% rows="10" required id="id_comment_field_post"></textarea>
                      </tr>
                    </tr>

                    <tr>
                      <td></td>
                      <td>
                          {% if user.is_participant %}
                              <input type="submit" value={% trans "投稿" %}>
                          {% else %}
                              <input type="submit" value={% trans "登録者のみ投稿可能" %} disabled="disabled" />
                          {% endif %}
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
      </div>
  </div>
</div>
{% endblock %}

